<div class="container-fluid"></div>
<h1> Welcome to my store </h1>
<p>come get all your stuff here</p>

<div class="row">
    <% if params[:category_id] %>
        <h3>All <%= @category.name %></h3>
    <% else %>
        <h3>All Products</h3>
    <% end %>
    
    <% if @products.empty? %>
        <h2>There are no products in <%= @category.name</h2>
    <% end %>
    
    <% @products.each do |product| %>
    <div class="col-sm-4">
        <div class="panel panel-default"></div>
            <div class="panel-body">
                <%= image_tag product.avatar.url(:medium) %>
                <span class="pull-right text-right">
                    <h5><%= number_to_currency(product.price) %>
                    </h5>
                </span>
                
                <a href="#" data-toggle="modal" data-target="#myModal_<%= product.id %>">
                    <h5><%= product.name %></h5>
                    <small>quick info</small>
                </a>
            </div>
    </div>
    
<!-- Modal -->
<div class="modal fade" id="myModal_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%=product.name %></h4>
      </div>
      <div class="modal-body">
        <%= image_tag product.avatar.url(:medium) %>
        <p><%= number_to_currency(product.price) %></p>
        <p><%= sanitize(product.description) %></p>
      </div>

    </div>
  </div>
</div>
    <% end %>
</div>

